.container-fluid {
  padding: 40px 20px;
}

.sign {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1.2s ease;
}

.sign__content {
  padding: 30px;
  border-radius: 20px;
  width: 100%;
  max-width: 1020px;
  animation: slideUp 0.8s ease;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.sign__form{
  border: none;
  padding: 0;
}

.main__title h2 {
  font-size: 36px;
  text-align: center;
  background: linear-gradient(135deg, #ff416c, #ff4b2b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  animation: fadeInDown 0.9s ease;
}


.sign__group {
  width: 100%;
}

.sign__input,
.sign__select {
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.5;
  background: #fff;
  color: #333;
  transition: all 0.35s ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 14px center;
  background-repeat: no-repeat;
}


.sign__input::placeholder {
  color: #aaa;
}

.sign__input:focus,
.sign__select:focus {
  border-color: #e53935;
  box-shadow: 0 0 0 5px rgba(229, 57, 53, 0.1);
  outline: none;
  background: #fdfdfd;
}

.sign__input::placeholder {
  color: #999;
}

.sign__label {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  color: #333;
  font-weight: 600;
  letter-spacing: 0.4px;
  text-transform: capitalize;
}

.sign__btn {
  background: #D50000;
  color: #fff;
  padding: 16px;
  border: none;
  border-radius: 10px;
  font-size: 17px;  
  cursor: pointer;
  width: 50%;
  transition: all 0.3s ease;
}

.sign__btn:hover {
   background-color: #0e2d49;
  transform: translateY(-3px);
}

.sign__btn:active {
  transform: translateY(0);
  box-shadow: 0 5px 15px rgba(255, 75, 43, 0.3);
}

.sign__text {
  display: block;
  text-align: center;
  margin-top: 22px;
  font-size: 14px;
  color: #555;
}

.sign__text a {
  color: #ff416c;
  text-decoration: none;
  font-weight: 600;
}

.sign__text a:hover {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

@media (min-width: 768px) {

  .col-md-6 {
    width: calc(50% - 10px);
  }

  .sign__form{
    border: 2px solid #e6eaf2;
    padding: 20px 30px;
  }
}

@media (max-width: 768px) {
  .sign__form {
    max-width: 450px;
  }

  .sign__btn {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl-6 {
    width: calc(50% - 10px);
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}