
/*form styles*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 50px;
}

#msform label{
    text-align: left;
}

#msform fieldset {
    background: #ffffff1a;
    border: 0 none;
    border-radius: 8px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    padding-top: 50px;
    box-sizing: border-box;
    width: 83%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}
#msform fieldset a{
  padding: 10px 25px !important;
}

@media (max-width: 375px) {
    #msform fieldset a{
        padding: 10px 20px !important;
      }
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input,#msform select, #msform textarea {
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 14px;
}


#msform input:focus,#msform select:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #d50000;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
    width: 100px;
    background: #d50000;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #d50000;
}

#msform .action-button-previous {
    width: 100px;
    background: #aCbEd0;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #aCbEd0;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

@media (max-width: 420px) {
    .fs-subtitle {
        font-weight: normal;
        font-size: 14px;
        color: #666;
        margin-bottom: 20px;
    } 
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: #666;
    text-transform: uppercase;
    font-size: 14px;
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 14px;
    color: #333;
    background: #f0f0f0;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

@media (max-width: 420px) {
    #progressbar li {
        list-style-type: none;
        color: #666;
        text-transform: uppercase;
        font-size: 10px;
        width: 33.33%;
        float: left;
        position: relative;
        letter-spacing: 1px;
    }
    
    #progressbar li:before {
        content: counter(step);
        counter-increment: step;
        width: 24px;
        height: 24px;
        line-height: 26px;
        display: block;
        font-size: 10px;
        color: #333;
        background: #f0f0f0;
        border-radius: 25px;
        margin: 0 auto 10px auto;
    }
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #f0f0f0;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps blue*/
/*The number of the step and the connector before it = blue*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #d50000;
    color: white;
}

@media (max-width: 360px) {
    .button3{
     font-size: 10px !important;
    }
  }

  /* Style the language switcher container */
.language-switcher {
    text-align: center;
    margin: 20px;
  }
  
  /* Style the dropdown select */
  #language-dropdown {
    padding: 5px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    outline: none;
    cursor: pointer;
  }
  
  /* Style the dropdown options */
  #language-dropdown option {
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
  }
  
  /* Style the dropdown arrow */
  #language-dropdown::-ms-expand {
    display: none;
  }
  
  #language-dropdown::after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }
  
  /* Style the dropdown on hover */
  #language-dropdown:hover {
    border-color: #666;
  }
  
  /* Style the selected option */
  #language-dropdown option:checked {
    background-color: #007BFF;
    color: #fff;
  }


  .otp-field {
    flex-direction: row;
    column-gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .otp-field .otp1 {
    height: 45px !important;
    width: 42px !important;
    border-radius: 6px;
    outline: none;
    font-size: 1.125rem;
    text-align: center;
    border: 1px solid #ddd;
  }
  .otp-field .otp1:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
  .otp-field .otp1::-webkit-inner-spin-button,
  .otp-field .otp1::-webkit-outer-spin-button {
    display: none;
  }
  
  .resend {
    font-size: 14px;
    margin-top: 15px;
  }

  @media only screen and (max-width: 390px) {
    /* Styles for small screens */
    .otp-field .otp1 {
      height: 30px !important;
      width: 30px !important;
    }
    #msform fieldset { 
      width: 90%;
      margin: 0px 7%; 
  }
  #progressbar {
    padding-left: 10px;
  }
}

@media only screen and (max-width: 340px) {
  /* Styles for small screens */
  #msform .action-button-previous {
    width: 90px;
  }
  #msform .action-button {
    width: 90px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  #msform fieldset {
    width: 90%;
    margin: 0px 5%;
  }
}